@model IchiPaint.Models.ListNews

<div class="table-responsive">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>STT</th>
                <th>Tiêu đề</th>
                <th>Ngày tạo</th>
                <th>Loại</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.Collection)
            {
                <tr>
                    <td> @Model.Start </td>
                    <td> @item.Title</td>
                    <td> @item.CreateDate</td>
                    <td> @item.CategoryName</td>
                    <td>
                        <a href="@("/News/EditNews/" +item.Id)" class="btn btn-warning  ">
                            <span class="glyphicon glyphicon glyphicon-pencil"></span> Sửa
                        </a>
                        <a href="#" class="btn btn-danger" onclick="deleteNews('@item.Id')">
                            <span class="glyphicon glyphicon-trash"></span> Xóa
                        </a>
                    </td>
                </tr>
                Model.Start++;
            }
        </tbody>
    </table>
</div>
@Html.Raw(Model.Paging)
<input type="hidden" id="txtTotalPage" value="@Model.TotalPage" />

<input type="hidden" id="txtCurrentPage" value="@Model.CurrentPage" />
