@using IchiPaint.Helpers
@model IchiPaint.Models.ListNews

@{
    var baseUrl = "http://" + Request.Url.Authority + "/tin-tuc/{0}/{1}";
}
<div class="row block-1">
    @foreach (var item in Model.Collection)
    {
        var singleUrl = string.Format(baseUrl, item.Id, HtmlControllHelpers.ReplaceUnicodeUrl(item.Title));
            
        <div class="col-sm-4 col-md-4">
            <div class="item">
                <a href="@singleUrl" class="item_img">
                    <img src="@item.FeatureImage" alt="">
                </a>
                <div class="item_content">
                    <p class="item_date">@item.CreateDate.Substring(0,10)</p>
                    <a href="@singleUrl" class="item_title">
                        @item.Title
                    </a>
                </div>
            </div>
        </div>
    }
    <a href="/tin-tuc.htm" class="more btn  btn-primary"> <span class="inner">Xem thêm tin tức</span></a>
</div>
